<template>
  <v-container fluid fill-height background>
    <!-- <v-alert
      dismissible
      border="right"
      color="green"
      dark
      style="position: absolute; top: 25px; left: 25px; z-index: 10;"
    >
      This was made by Chase Brown (cbrown54) and Christopher Reynders (creynder)
    </v-alert> -->
    <v-row>
      <v-card color="pokeB" width="100%" class="mx-4 mt-4 pa-4 party">
        <v-row class="mb-n8">
          <v-col cols="2" class="pl-12">
            <v-select 
              full-width
              v-on:change="changeParty()"
              :items="partyNames" 
              v-model="partySelect" 
              background-color="pokeY"
              outlined 
              label="Select Party">
            </v-select>
          </v-col>
          <v-col cols="3">
            <!-- <NewParty></NewParty> -->
          </v-col>
          <v-col cols="5">
          </v-col>
          <v-col cols="2" class="pl-16">
            <v-btn color="pokeY" class="ml-12" style="height: 65%" x-large @click="test()">
              Battle Sim
            </v-btn>
          </v-col>
        </v-row>






        <v-row class="ma-2">
          <v-col cols="4">
            <v-row>
              <v-img
                :src="require('../assets/pokeball.png')"
                aspect-ratio="1"
                width="35%"
                contain
                class="pokeball"
              />
              <v-card color="pokeR" width="60%" class="ma-2">
                <v-card-title>
                  {{this.$store.state.parties[curParty].pokemon[0].name}}
                </v-card-title>
                <v-card-subtitle class="ml-3">
                  <v-row>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[0].type1" 
                      class="text-center px-2 mr-1" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[0].type1"
                      >
                      {{this.$store.state.parties[curParty].pokemon[0].type1}}
                    </v-card>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[0].type2" 
                      class="text-center px-2" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[0].type2"
                      >
                      {{this.$store.state.parties[curParty].pokemon[0].type2}}
                    </v-card>
                  </v-row>
                </v-card-subtitle>
                <v-img
                  contain
                  style="position: absolute; top: 15px; right: 25px; transform: scale(1.1)"
                  class="pokemon"
                  :src="require('../assets/pokemon-ani/' + ('00' + this.$store.state.parties[curParty].pokemon[0].id).slice(-3) + '.gif')"
                  
                />
                
                <v-card-text style="position: absolute; bottom: 4px">
                  <v-row class="pa-0">
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[0].moves[0].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[0].moves[0].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[0].moves[0].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[0].moves[1].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[0].moves[1].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[0].moves[1].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                  <v-row class="pa-0">
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[0].moves[2].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[0].moves[2].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[0].moves[2].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[0].moves[3].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[0].moves[3].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[0].moves[3].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-row>
          </v-col>

          <v-col cols="4">
            <v-row>
              <v-img
                :src="require('../assets/pokeball.png')"
                aspect-ratio="1"
                width="35%"
                contain
                class="pokeball"
              />
              <v-card color="pokeR" width="60%" class="ma-2">
                <v-card-title>
                  {{this.$store.state.parties[curParty].pokemon[1].name}}
                </v-card-title>
                <v-card-subtitle class="ml-3">
                  <v-row>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[1].type1" 
                      class="text-center px-2 mr-1" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[1].type1"
                      >
                      {{this.$store.state.parties[curParty].pokemon[1].type1}}
                    </v-card>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[1].type2" 
                      class="text-center px-2" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[1].type2"
                      >
                      {{this.$store.state.parties[curParty].pokemon[1].type2}}
                    </v-card>
                  </v-row>
                </v-card-subtitle>
                <v-img
                  contain
                  style="position: absolute; top: 15px; right: 25px; transform: scale(1.1)"
                  class="pokemon"
                  :src="require('../assets/pokemon-ani/' + ('00' + this.$store.state.parties[curParty].pokemon[1].id).slice(-3) + '.gif')"
                  
                />
                
                <v-card-text style="position: absolute; bottom: 4px">
                  <v-row class="pa-0">
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[1].moves[0].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[1].moves[0].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[1].moves[0].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[1].moves[1].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[1].moves[1].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[1].moves[1].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                  <v-row class="pa-0">
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[1].moves[2].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[1].moves[2].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[1].moves[2].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[1].moves[3].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[1].moves[3].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[1].moves[3].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-row>
          </v-col>

          <v-col cols="4">
            <v-row>
              <v-img
                :src="require('../assets/pokeball.png')"
                aspect-ratio="1"
                width="35%"
                contain
                class="pokeball"
              />
              <v-card color="pokeR" width="60%" class="ma-2">
                <v-card-title>
                  {{this.$store.state.parties[curParty].pokemon[2].name}}
                </v-card-title>
                <v-card-subtitle class="ml-3">
                  <v-row>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[2].type1" 
                      class="text-center px-2 mr-1" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[2].type1"
                      >
                      {{this.$store.state.parties[curParty].pokemon[2].type1}}
                    </v-card>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[2].type2" 
                      class="text-center px-2" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[2].type2"
                      >
                      {{this.$store.state.parties[curParty].pokemon[2].type2}}
                    </v-card>
                  </v-row>
                </v-card-subtitle>
                <v-img
                  contain
                  style="position: absolute; top: 15px; right: 25px; transform: scale(1.1)"
                  class="pokemon"
                  :src="require('../assets/pokemon-ani/' + ('00' + this.$store.state.parties[curParty].pokemon[2].id).slice(-3) + '.gif')"
                  
                />
                
                <v-card-text style="position: absolute; bottom: 4px">
                  <v-row class="pa-0">
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[2].moves[0].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[2].moves[0].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[2].moves[0].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[2].moves[1].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[2].moves[1].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[2].moves[1].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                  <v-row class="pa-0">
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[2].moves[2].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[2].moves[2].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[2].moves[2].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[2].moves[3].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[2].moves[3].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[2].moves[3].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-row>
          </v-col>

        </v-row>
        <v-row class="ma-2">
          <v-col cols="4">
            <v-row>
              <v-img
                :src="require('../assets/pokeball.png')"
                aspect-ratio="1"
                width="35%"
                contain
                class="pokeball"
              />
              <v-card color="pokeR" width="60%" class="ma-2">
                <v-card-title>
                  {{this.$store.state.parties[curParty].pokemon[3].name}}
                </v-card-title>
                <v-card-subtitle class="ml-3">
                  <v-row>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[3].type1" 
                      class="text-center px-2 mr-1" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[3].type1"
                      >
                      {{this.$store.state.parties[curParty].pokemon[3].type1}}
                    </v-card>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[3].type2" 
                      class="text-center px-2" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[3].type2"
                      >
                      {{this.$store.state.parties[curParty].pokemon[3].type2}}
                    </v-card>
                  </v-row>
                </v-card-subtitle>
                <v-img
                  contain
                  style="position: absolute; top: 15px; right: 25px; transform: scale(1.1)"
                  class="pokemon"
                  :src="require('../assets/pokemon-ani/' + ('00' + this.$store.state.parties[curParty].pokemon[3].id).slice(-3) + '.gif')"
                  
                />
                
                <v-card-text style="position: absolute; bottom: 4px">
                  <v-row class="pa-0">
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[3].moves[0].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[3].moves[0].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[3].moves[0].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[3].moves[1].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[3].moves[1].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[3].moves[1].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                  <v-row class="pa-0">
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[3].moves[2].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[3].moves[2].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[3].moves[2].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[3].moves[3].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[3].moves[3].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[3].moves[3].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-row>
          </v-col>

          <v-col cols="4">
            <v-row>
              <v-img
                :src="require('../assets/pokeball.png')"
                aspect-ratio="1"
                width="35%"
                contain
                class="pokeball"
              />
              <v-card color="pokeR" width="60%" class="ma-2">
                <v-card-title>
                  {{this.$store.state.parties[curParty].pokemon[4].name}}
                </v-card-title>
                <v-card-subtitle class="ml-3">
                  <v-row>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[4].type1" 
                      class="text-center px-2 mr-1" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[4].type1"
                      >
                      {{this.$store.state.parties[curParty].pokemon[4].type1}}
                    </v-card>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[4].type2" 
                      class="text-center px-2" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[4].type2"
                      >
                      {{this.$store.state.parties[curParty].pokemon[4].type2}}
                    </v-card>
                  </v-row>
                </v-card-subtitle>
                <v-img
                  contain
                  style="position: absolute; top: 15px; right: 25px; transform: scale(1.1)"
                  class="pokemon"
                  :src="require('../assets/pokemon-ani/' + ('00' + this.$store.state.parties[curParty].pokemon[4].id).slice(-3) + '.gif')"
                  
                />
                
                <v-card-text style="position: absolute; bottom: 4px">
                  <v-row class="pa-0">
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[4].moves[0].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[4].moves[0].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[4].moves[0].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[4].moves[1].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[4].moves[1].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[4].moves[1].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                  <v-row class="pa-0">
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[4].moves[2].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[4].moves[2].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[4].moves[2].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[4].moves[3].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[4].moves[3].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[4].moves[3].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-row>
          </v-col>

          <v-col cols="4">
            <v-row>
              <v-img
                :src="require('../assets/pokeball.png')"
                aspect-ratio="1"
                width="35%"
                contain
                class="pokeball"
              />
              <v-card color="pokeR" width="60%" class="ma-2">
                <v-card-title>
                  {{this.$store.state.parties[curParty].pokemon[5].name}}
                </v-card-title>
                <v-card-subtitle class="ml-3">
                  <v-row>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[5].type1" 
                      class="text-center px-2 mr-1" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[5].type1"
                      >
                      {{this.$store.state.parties[curParty].pokemon[5].type1}}
                    </v-card>
                    <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[5].type2" 
                      class="text-center px-2" style="width: fit-content"
                      v-show="this.$store.state.parties[curParty].pokemon[5].type2"
                      >
                      {{this.$store.state.parties[curParty].pokemon[5].type2}}
                    </v-card>
                  </v-row>
                </v-card-subtitle>
                <v-img
                  contain
                  style="position: absolute; top: 15px; right: 25px; transform: scale(1.1)"
                  class="pokemon"
                  :src="require('../assets/pokemon-ani/' + ('00' + this.$store.state.parties[curParty].pokemon[5].id).slice(-3) + '.gif')"
                />
                
                <v-card-text style="position: absolute; bottom: 4px">
                  <v-row class="pa-0">
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[5].moves[0].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[5].moves[0].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[5].moves[0].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[5].moves[1].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[5].moves[1].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[5].moves[1].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                  <v-row class="pa-0">
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[5].moves[2].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[5].moves[2].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[5].moves[2].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="5.5" class="pa-1">
                      <v-card v-bind:color="this.$store.state.parties[curParty].pokemon[5].moves[3].type" 
                        class="text-center px-2" style="width: fit-content"
                        v-show="this.$store.state.parties[curParty].pokemon[5].moves[3].type"
                      >
                        {{this.$store.state.parties[curParty].pokemon[5].moves[3].name}}
                      </v-card>
                    </v-col>
                    <v-col cols="4">
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-row>
          </v-col>

        </v-row>
      </v-card>

    </v-row>

    <v-row width="100%">
      <v-card color="pokeB" width="100%" class="list ma-4">
        <v-row class="pt-6">
          <v-col cols="4" class="py-2 pl-4 pr-2" >
            <v-text-field v-on:input="filterPokemon()" v-model="filterTerms.name" dark outlined label="Name" class="ma-2">
            </v-text-field>
          </v-col>
          <v-col cols="4" class="pa-2">
            <v-select 
              clearable
              v-on:focus="getTypes()"
              v-on:change="filterPokemon()"
              :items="types" 
              v-model="filterTerms.type1" 
              dark 
              outlined 
              label="Type 1" 
              class="ma-2">
            </v-select>
          </v-col>
          <v-col cols="4" class="py-2 pl-2 pr-4">
            <v-select
              clearable
              v-on:focus="getTypes()"
              v-on:change="filterPokemon()"
              :items="types" 
              v-model="filterTerms.type2" 
              dark 
              outlined 
              label="Type 2" 
              class="ma-2">
            </v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-list class="mx-6 mt-n6 mb-16" style="width: 100%; overflow-y: auto; height: 300px;">
            <v-list-item
              v-for="poke in filteredPokemon" 
              :key="poke.Info.ID + poke.Form_Name"
            >
              <v-list-item-avatar tile size="50">
                <v-img
                  contain
                  style="transform: scale(1)"
                  class="pokemon"
                  :src="require('../assets/pokemon/' + poke.Form_Name.toLowerCase().replace(/[.']/g, '').replace(/[ ]/g, '-') + '.png')"
                />
              </v-list-item-avatar>
              <span class="black--text" style="width: 5%">
                {{poke.Info.ID}}
              </span>
              <span class="black--text" style="width: 15%">
                {{poke.Form_Name}}
              </span>
              <span class="black--text" style="width: 10%">
                <v-card v-bind:color="poke.Info.Types[0]" class="text-center px-2" style="width: fit-content">
                  {{poke.Info.Types[0]}}
                </v-card>
              </span>
              <span class="black--text" style="width: 10%">
                <v-card v-bind:color="poke.Info.Types[1]" class="text-center px-2" style="width: fit-content">
                  {{poke.Info.Types[1]}}
                </v-card>
              </span>
              <v-spacer>
              </v-spacer>
              <v-btn color="pokeY" v-on:click="openProfile(poke)">
                Select Pokemon
              </v-btn>
            </v-list-item>
          </v-list>
        </v-row>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
// import NewParty from '../components/newParty.vue'

export default {
  // components: { NewParty },
  name: 'Home',
  data() {
    return {
      pokemon: [],
      filteredPokemon: [],
      types: [],
      filterTerms: {
        name: null,
        type1: null,
        type2: null
      },
      partyNames: [],
      newParty: null,
      partySelect: "Default Team 1",
      curParty: 0
    }
  },
  created() {
    this.getPokemon();
    this.getItems();
    this.getNatures();
    this.getAbilities();
    this.getMoves();
    this.filteredPokemon = this.pokemon;
    
    JSON.parse(localStorage.parties).forEach( (party) => {
        this.partyNames.push(party.name);
    });

    // console.log(JSON.parse(localStorage.parties));
  },

  methods: {
    test: function() {
      this.$store.commit("loadBattle");
    },
    openProfile: function(poke) {
      this.$store.commit("setCur", poke, this.curParty)
      this.$router.push({name: "Profile"})
    },
    changeParty: function() {
      console.log("changing party")
      this.curParty = this.partyNames.indexOf(this.partySelect);
    },
    getPokemon: async function() {
      axios.get("https://chasebrow.pythonanywhere.com/pokemon/").then( res => {
        res.data.pokemon_list.forEach(poke => {
          this.pokemon.push(poke);
        });
      })
    },
    getItems: async function() {
      let temp = [];
      axios.get("https://chasebrow.pythonanywhere.com/items/").then( res => {
        res.data.items_list.forEach(item => {
          temp.push(item);
        });
        this.$store.state.items = temp;
        // console.log(this.$store.state.items)
      })
    },
    getNatures: async function() {
      let temp = [];
      axios.get("https://chasebrow.pythonanywhere.com/natures/").then( res => {
        res.data.natures.forEach(nature => {
          temp.push(nature);
        });
        this.$store.state.natures = temp;
        // console.log(this.$store.state.natures)
      })
    },
    getAbilities: async function() {
      let temp = [];
      axios.get("https://chasebrow.pythonanywhere.com/abilities/").then( res => {
        res.data.abilities_list.forEach(ability => {
          temp.push(ability);
        });
        this.$store.state.abilities = temp;
        // console.log(this.$store.state.abilities)
      })
    },
    getTypes: function() {
      axios.get("https://chasebrow.pythonanywhere.com/types/").then( res => {
        res.data.typecharts.forEach(type => {
          this.types.push(type.Name);
        })
      })
    },
    getMoves: function() {
      axios.get("https://chasebrow.pythonanywhere.com/moves/").then( res => {
        this.$store.state.moves = res.data.moves;
      })
    },
    filterPokemon: function() {
      this.filteredPokemon = this.pokemon.filter(poke => {
				let name = true, type1 = true, type2 = true;
				if (poke.Form_Name && this.filterTerms.name) {
					name = poke.Form_Name.toLowerCase().includes(this.filterTerms.name.toLowerCase());
				}
				if (poke.Info.Types[0] && this.filterTerms.type1 && poke.Info.Types[1]) {
					if(poke.Info.Types[0].toLowerCase().includes(this.filterTerms.type1.toLowerCase()) || poke.Info.Types[1].toLowerCase().includes(this.filterTerms.type1.toLowerCase())) {
            type1 = true;
          }
          else {
            type1 = false;
          }
				}
        else if(poke.Info.Types[0] && this.filterTerms.type1) {
          if(poke.Info.Types[0].toLowerCase().includes(this.filterTerms.type1.toLowerCase())) {
            type1 = true;
          }
          else {
            type1 = false;
          }
        }
        if (poke.Info.Types[1] && this.filterTerms.type2 && poke.Info.Types[0]) {
					if(poke.Info.Types[0].toLowerCase().includes(this.filterTerms.type2.toLowerCase()) || poke.Info.Types[1].toLowerCase().includes(this.filterTerms.type2.toLowerCase())) {
            type2 = true;
          }
          else {
            type2 = false;
          }
				}
        else if(poke.Info.Types[0] && this.filterTerms.type2) {
          if(poke.Info.Types[0].toLowerCase().includes(this.filterTerms.type2.toLowerCase())) {
            type2 = true;
          }
          else {
            type2 = false;
          }
        }
				if (name == true && type1 == true && type2 == true) {
					return true;
				} else {
					return false;
				}
			});
    },
  }
}
</script>

<style scoped>

.v-card.party {
  border-radius: 50px;
}

.v-card.list {
  border-radius: 50px 50px 35px 35px;
}

.v-list {
  overflow-y: scroll;
}

.v-list-item:hover {
  background: grey;
}
</style>
