<template>
  <v-container fill-height fluid background>
    <v-row>
      <v-card color="pokeB" width="100%" class="ma-2 pa-4">
        <v-row>
          <v-col cols="2">
            <v-card color="pokeR" class="mr-1" style="height: 100%">
              <v-card-title>
                {{this.$store.state.curPokemon.Form_Name}}
              </v-card-title>
              <v-card-subtitle class="ml-3">
                <v-row>
                  <v-card v-bind:color="this.$store.state.curPokemon.Info.Types[0]" 
                    class="text-center px-2 mr-1" style="width: fit-content"
                    v-show="this.$store.state.curPokemon.Info.Types[0]"
                    >
                    {{this.$store.state.curPokemon.Info.Types[0]}}
                  </v-card>
                  <v-card v-bind:color="this.$store.state.curPokemon.Info.Types[1]" 
                    class="text-center px-2" style="width: fit-content"
                    v-show="this.$store.state.curPokemon.Info.Types[1]"
                    >
                    {{this.$store.state.curPokemon.Info.Types[1]}}
                  </v-card>
                </v-row>
              </v-card-subtitle>
              <v-img
                height="400"
                width="400"
                contain
                style="position: relative; transform: scale(.75); margin: 0 auto 0 auto; left: 0; right: 0;"
                class="pokemon"
                :src="require('../assets/pokemon-ani/' + ('00' + this.$store.state.curPokemon.Info.ID).slice(-3) + '.gif')"
                />
            </v-card>
          </v-col>
          <v-col cols="4" style="height:500px">
            <v-card color="pokeR" width="100%" style="height: 100%">
              <v-card-title class="mb-n8">
                Select Ability
              </v-card-title>
              <v-list style="background-color: white; overflow-y: auto; height: 25%" class="ma-4">
                <v-list-item-group v-model="selectedAbility" color="pokeB" active-class="selected">
                  <v-list-item
                    v-for="ability in this.$store.state.curPokemon.Info.Abilities" 
                    :key="ability"
                    class="moves"
                  >
                    <span class="black--text" style="width: 25%">
                      {{ability}}
                    </span>
                    <span class="black--text" style="width: 75%">
                      {{ getDes(ability) }}
                    </span>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
              <v-card-title class="mb-n8 mt-n6">
                Select Nature
              </v-card-title>
              <v-list style="background-color: white; overflow-y: auto; height: 53%" class="ma-4">
                <v-list-item-group v-model="selectedNature" color="pokeB" active-class="selected">
                  <v-list-item
                    v-for="nature in this.$store.state.natures" 
                    :key="nature.ID"
                    class="moves"
                  >
                    <span class="black--text" style="width: 25%">
                      {{nature.Name}}
                    </span>
                    <span class="black--text" style="width: 75%">
                      {{ nature.Summary }}
                    </span>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>
          </v-col>
          <v-col cols="4" style="height: 500px">
            <v-card color="pokeR" width="100%" style="height: 100%">
              <v-card-title class="mb-n8">
                Select Item
              </v-card-title>
              <v-list style="background-color: white; overflow-y: auto; height: 87%" class="ma-4">
                <v-list-item-group v-model="selectedItem" color="pokeB" active-class="selected">
                  <v-list-item
                    v-for="item in this.$store.state.items" 
                    :key="item.ID"
                    class="moves"
                  >
                    <v-list-item-avatar tile size="50">
                      <v-img
                        contain
                        style="transform: scale(1)"
                        class="pokemon"
                        :src="require('../assets/items/' + item.Name.toLowerCase().replace(/[.']/g, '').replace(/[ ]/g, '-') + '.png')"
                      />
                    </v-list-item-avatar>
                    <span class="black--text" style="width: 25%">
                      {{item.Name}}
                    </span>
                    <span class="black--text" style="width: 75%">
                      {{ item.Description }}
                    </span>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-card>
          </v-col>
          <v-col cols="2" style="height: 500px">
            <v-card color="pokeR" width="100%" style="height: 100%">
              <v-card-title class="mb-n8">
                Statistics
              </v-card-title>
              <v-slider
                class="mt-14 pb-2 px-4"
                color="pokeB"
                label="HP"
                v-model="hp"
                :thumb-size="24"
                thumb-label="always"
                min="100"
                max="700"
                readonly
              ></v-slider>
              <v-slider
                class="px-4 pb-2"
                color="pokeB"
                label="ATK"
                v-model="atk"
                :thumb-size="24"
                thumb-label="always"
                min="0"
                max="600"
                readonly
              ></v-slider>
              <v-slider
                class="px-4 pb-2"
                color="pokeB"
                label="DEF"
                v-model="def"
                :thumb-size="24"
                thumb-label="always"
                min="0"
                max="600"
                readonly
              ></v-slider>
              <v-slider
                class="px-4 pb-2"
                color="pokeB"
                label="SP ATK"
                v-model="spatk"
                :thumb-size="24"
                thumb-label="always"
                min="0"
                max="600"
                readonly
              ></v-slider>
              <v-slider
                class="px-4 pb-2"
                color="pokeB"
                label="SP DEF"
                v-model="spdef"
                :thumb-size="24"
                thumb-label="always"
                min="0"
                max="600"
                readonly
              ></v-slider>
              <v-slider
                class="px-4 pb-2"
                color="pokeB"
                label="SPD"
                v-model="spd"
                :thumb-size="24"
                thumb-label="always"
                min="0"
                max="300"
                readonly
              ></v-slider>
              <v-btn style="position: absolute; top: 3%; right: 33%" color="pokeY" @click="test()">
                EXIT
              </v-btn>
              <v-btn style="position: absolute; top: 3%; right: 5%" color="pokeY" @click="test()">
                SAVE
              </v-btn>
            </v-card>
          </v-col>
        </v-row>
      </v-card>
    </v-row>

    <v-row>
      <v-card color="pokeB" width="100%" class="mx-2 pa-2">
        <v-row>
          <v-col cols="3" v-for="move in selectedMoves" :key="moves[move].Name">
            <Move  
              :name="moves[move].Name"
              :type="moves[move].Type"
              :power="moves[move].Power"
              :priority="moves[move].Priority"
              :accuracy="moves[move].Accuracy"
              :pp="moves[move].PP"
              @remove="remove"
            >
            </Move>
          </v-col>
        </v-row>
      </v-card>
    </v-row>
  
    <v-row>
      <v-card color="pokeB" width="100%" class="ma-2">
        <v-list style="background-color: white; overflow-y: auto; height: 300px" class="ma-4">
          <v-list-item-group v-model="selectedMoves"
            active-class="selected"
            multiple
            max="4"
          >
            <v-list-item
              v-for="move in moves" 
              :key="move.name"
              class="moves"
              @click="test()"
            >
              <span class="black--text" style="width: 15%">
                {{move.Name}}
              </span>
              <span class="black--text" style="width: 15%">
                <v-card v-bind:color="move.Type" class="text-center px-2" style="width: fit-content">
                    {{move.Type}}
                </v-card>
              </span>
              <span class="black--text" style="width: 15%">
                {{move.Category}}
              </span>
              <span class="black--text" style="width: 5%">
                {{move.Power}}
              </span>
              <span class="black--text" style="width: 5%">
                {{move.Accuracy}}
              </span>
              <span class="black--text" style="width: 5%">
                {{move.Priority}}
              </span>
              <span class="black--text" style="width: 5%">
                {{move.PP}}
              </span>
              <span class="black--text" style="width: 35%">
                {{move.Description}}
              </span>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import Move from '../components/move.vue';

export default {
  components: { Move },
  name: 'Home',
  data() {
    return {
      selectedNature: 1,
      selectedItem: 0,
      selectedAbility: 0,
      selectedMoves: [],
      moves: []
    }
  },
  computed: {
    hp: function() {
      return Math.floor((0.01 *(2 * this.$store.state.curPokemon.Info.HP * 100) + 5) + 100 + 10);
    },
    atk: function() {
      return Math.floor((0.01 *(2 * this.$store.state.curPokemon.Info.ATK * 100) + 5) * this.$store.state.natures[this.selectedNature].ATK);
    },
    def: function() {
      return Math.floor((0.01 *(2 * this.$store.state.curPokemon.Info.DEF * 100) + 5) * this.$store.state.natures[this.selectedNature].DEF);
    },
    spatk: function() {
      return Math.floor((0.01 *(2 * this.$store.state.curPokemon.Info.SPATK * 100) + 5) * this.$store.state.natures[this.selectedNature].SPATK);
    },
    spdef: function() {
      return Math.floor((0.01 *(2 * this.$store.state.curPokemon.Info.SPDEF * 100) + 5) * this.$store.state.natures[this.selectedNature].SPDEF);
    },
    spd: function() {
      return Math.floor((0.01 *(2 * this.$store.state.curPokemon.Info.SPE * 100) + 5) * this.$store.state.natures[this.selectedNature].SPE);
    },
  },
  created() {
    this.$store.state.curPokemon.Info.Learnable_Moves.forEach(move => {
      this.moves.push(this.$store.state.moves.find(o => o.Name == move));
    })

    
  },
  methods: {
    remove: function(name) {
      let moveIndex = this.moves.findIndex(o => o.Name == name);
      console.log(this.selectedMoves)
      console.log(moveIndex)
      let delIndex = this.selectedMoves.indexOf(moveIndex);
      this.selectedMoves.splice(delIndex, 1);
    },
    test: function() {
      this.selectedMoves.forEach(index => {
        console.log(index);
      })
    },
    getDes: function(ability) {
      let temp = this.$store.state.abilities.map(ability => {
        return ability.Name;
      })
      let index = temp.indexOf(ability);
      // console.log(this.$store.state.abilities[index])
      return this.$store.state.abilities[index].Description;
    }
  }
  
}
</script>

<style scoped>

.v-card.party {
  border-radius: 50px;
}

.v-card.list {
  border-radius: 50px 50px 35px 35px;
}
.selected {
  border: 2px dashed blue;
}
.v-list-item.moves:hover {
  background: grey;
}
</style>
