<template>
    <v-container fill-height fluid background>
        <v-row height="40%">
            <v-col cols="2">
                <v-row>
                    <v-btn>
                        Move
                    </v-btn>
                </v-row>
                <v-row>
                    <v-btn>
                        Move
                    </v-btn>
                </v-row>
                <v-row>
                    <v-btn>
                        Move
                    </v-btn>
                </v-row>
                <v-row>
                    <v-btn>
                        Move
                    </v-btn>
                </v-row>
            </v-col>
            <v-col cols="8">
                <v-img 
                    contain
                    height="32em"
                    :src="require('../assets/BattleBackground.png')" />
                <v-img
                    style="position: absolute; top: 10px; left: 32%;"
                    contain
                    :src="require('../assets/weather/Sunlight.svg')"/>
            </v-col>
            <v-col cols="2">
                <v-row>
                    <v-btn>
                        Move
                    </v-btn>
                </v-row>
                <v-row>
                    <v-btn>
                        Move
                    </v-btn>
                </v-row>
                <v-row>
                    <v-btn>
                        Move
                    </v-btn>
                </v-row>
                <v-row>
                    <v-btn>
                        Move
                    </v-btn>
                </v-row>
            </v-col>
        </v-row>
        <v-row height="60%">
            <v-col cols="5.5" class="pr-12">
                <v-card color="pokeR">
                    <v-card-title class="mt-n6 mb-n8">
                        Party 1
                    </v-card-title>
                    <v-row class="mb-n8">
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
            <v-col cols="1">
            </v-col>
            <v-col cols="5.5" class="pl-12">
                <v-card color="pokeR">
                    <v-card-title class="mt-n6 mb-n8">
                        Party 2
                    </v-card-title>
                    <v-row class="mb-n8">
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                        <v-col cols="4">
                            <PartyMem> 
                            </PartyMem>
                        </v-col>
                    </v-row>
                </v-card>
            </v-col>
        </v-row>
        
        
    </v-container>
</template>

<script>
// import axios from 'axios';
import PartyMem from '../components/PartyMem.vue'

export default {
  components: { PartyMem },
  name: 'Sim',
  data() {
    return {
        
    }
  },
 

  methods: {
    
  }
}
</script>

<style scoped>

</style>
