<template>
  <v-container>
    <v-card color="pokeR">
        <v-card-title>
            <span> 
                {{name}}
            </span>
            <v-card v-bind:color="type" class=" ml-4 text-center px-2" style="width: fit-content">
                {{type}}
            </v-card>
            <v-spacer>
            </v-spacer>
            <v-btn color="pokeY" @click="remove(name)">
                REMOVE
            </v-btn>
        </v-card-title>
        <v-card class="ma-2" color="white">
            <v-row>
                <v-col cols="6" class="mt-n4">
                    <v-card-text>
                        Power: {{power}}
                    </v-card-text>
                </v-col>
                <v-col cols="6" class="mt-n4">
                    <v-card-text>
                        Accuracy: {{accuracy}}
                    </v-card-text>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="6" class="mt-n8">
                    <v-card-text>
                        Power: {{power}}
                    </v-card-text>
                </v-col>
                <v-col cols="6" class="mt-n8">
                    <v-card-text>
                        Accuracy: {{accuracy}}
                    </v-card-text>
                </v-col>
            </v-row>
        </v-card>
    </v-card>
  </v-container>
</template>

<script>
  export default {
    name: 'move',
    props: {
        name: String,
        type: String,
        power: Number,
        accuracy: Number,
        priority: Number,
        pp: Number
    },
    data: () => ({
      
    }),
    methods: {
        remove: function(name) {
            this.$emit('remove', name);
        }
    }
  }
</script>
<style scoped>

</style>
