<template>
<v-row>
    <v-col cols="8">
        <v-text-field 
            background-color="pokeY"
            full-width
            outlined
            v-model="newParty"
            label="Party Name">
        </v-text-field>
    </v-col>
    <v-col cols="4" fill-height>
        <v-btn color="pokeY" style="height: 65%" x-large
            v-on:click="createParty()"
        >
            Create New Party
        </v-btn>
    </v-col>
</v-row>

</template>

<script>
  export default {
    name: 'newParty',

    data() {
      return {
          newParty: null
      }
    },
    methods: {
        createParty: function() {
      let newParty = { //party object
        name: this.newParty,
        pokemon: [
          { //pokemon obj
            name: "",
            type1: "",
            type2: "",
            moves: [
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              }
            ],
          },
          { //pokemon obj
            name: "",
            type1: "",
            type2: "",
            moves: [
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              }
            ],
          },
          { //pokemon obj
            name: "",
            type1: "",
            type2: "",
            moves: [
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              }
            ],
          },
          { //pokemon obj
            name: "",
            type1: "",
            type2: "",
            moves: [
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              }
            ],
          },
          { //pokemon obj
            name: "",
            type1: "",
            type2: "",
            moves: [
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              }
            ],
          },
          { //pokemon obj
            name: "",
            type1: "",
            type2: "",
            moves: [
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              },
              { //move obj
                name: "",
                type: "",
              }
            ],
          }
        ],
      }

      this.$store.state.parties.push(newParty)
    },
    }
  }
</script>
<style scoped>

</style>
