<template>
  <v-container>
    <v-card outlined>
    <v-list-item three-line>
      <v-list-item-content>
        <v-progress-linear
          color="green"
          height="25"
        ></v-progress-linear>
        <v-list-item-title class="h5 mb-1 font-weight-bold">
          Bulbasaur
        </v-list-item-title>
        <v-list-item-subtitle>
            <v-card color="black" class="text-center px-2 mr-1" style="width: fit-content">
              Fighting
            </v-card>
        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar
        tile
        size="80"
      >
        <v-img
          :src="require('../assets/pokemon/bulbasaur.png')"
          aspect-ratio="1"
          contain
          class="pokemon"
        />
      </v-list-item-avatar>
    </v-list-item>

    <v-card-actions>
      
        <v-btn
          outlined
          rounded
          text
        >
          Button
        </v-btn>
        <v-spacer></v-spacer>
        <v-card color="grey" class="text-center px-2 mr-1" style="width: fit-content">
          Fighting
        </v-card>
        <v-card color="grey" class="text-center px-2" style="width: fit-content">
          Test
        </v-card>
      
    </v-card-actions>
  </v-card>

    <!-- <v-card color="blue">
      <v-row>
        <v-col>
          <v-img
              :src="require('../assets/pokemon/regular/bulbasaur.png')"
              aspect-ratio="1"
              contain
              class="pokemon"
            />
        </v-col>
        <v-col>
          <v-row>
            <v-col>
              <v-title>
                Bulbasaur
              </v-title>
            </v-col>
            <v-col>
              <v-card color="grey">
                <v-card-title>
                  FNT
                </v-card-title>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-progress-linear
              color="red"
              height="25"
            ></v-progress-linear>
          </v-row>
          <v-row>
            <v-col>
              <v-card color="green">
                <v-card-title>
                  Grass
                </v-card-title>
              </v-card>
            </v-col>
            <v-col>
              <v-card color="purple">
                <v-card-title>
                  Poison
                </v-card-title>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-btn>
              Switch In
            </v-btn>
          </v-row>
        </v-col>
      </v-row> -->
    <!-- </v-card> -->
  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
      
    }),
    methods: {

    }
  }
</script>
<style scoped>

</style>
