<template>
  <v-app>
    <v-content>
      <router-view> </router-view>
    </v-content>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',

  // components: {
  //   HelloWorld,
  // },

  data: () => ({
    //
  }),
  mounted() {
    if(!localStorage.parties) { //REMEMBER TO ADD EXCLAMATION POINT
      console.log("no parties found, saving new parties")
      let parties = this.$store.state.parties;
      localStorage.parties = JSON.stringify(parties);
    }
    else {
      console.log("pulling parties");
      //SET THE VUE STORE INDEX TO THE LOCAL STORAGE
    }
  }
};
</script>
<style>
body {
    /* overflow: hidden; */
    height: 100vh;
}

</style>
